.PopupButton.ShowWithTabbarFromHeaderIOS {
	animation: moveForwardWithTabbarFromHeaderIOS 1s 1 both;
}

.PopupButton.HideWithTabbarFromHeaderIOS {
	animation: moveBackwardWithTabbarFromHeaderIOS 1s 1 both;
}

.PopupButton.ShowWithTabbarFromHeader {
	animation: moveForwardWithTabbarFromHeader 1s 1 both;
}

.PopupButton.HideWithTabbarFromHeader {
	animation: moveBackwardWithTabbarFromHeader 1s 1 both;
}

.PopupButton.ShowFromHeaderIOS {
	animation: moveForwardFromHeaderIOS 1s 1 both;
}

.PopupButton.HideFromHeaderIOS {
	animation: moveBackwardFromHeaderIOS 1s 1 both;
}

.PopupButton.ShowFromHeader {
	animation: moveForwardFromHeader 1s 1 both;
}

.PopupButton.HideFromHeader {
	animation: moveBackwardFromHeader 1s 1 both;
}

.PopupButton.ShowWithTabbarIOS {
	animation: moveForwardWithTabbar 1s 1 both;
}

.PopupButton.HideWithTabbarIOS {
	animation: moveBackwardWithTabbar 1s 1 both;
}

.PopupButton.ShowWithTabbar {
	animation: moveForwardWithTabbar 1s 1 both;
}

.PopupButton.HideWithTabbar {
	animation: moveBackwardWithTabbar 1s 1 both;
}

.PopupButton.ShowIOS {
	animation: moveForward 1s 1 both;
}

.PopupButton.HideIOS {
	animation: moveBackward 1s 1 both;
}

.PopupButton.Show {
	animation: moveForward 1s 1 both;
}

.PopupButton.Hide {
	animation: moveBackward 1s 1 both;
}

.PopupButton {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	z-index: 2;
}

@keyframes moveForwardWithTabbar {
	from {
		bottom: calc(-1 * var(--tabbar_height));
	}
	,
	50% {
		bottom: calc(var(--tabbar_height) / 2);
	}

	to {
		bottom: calc(var(--tabbar_height) + 5px);
	}
}

@keyframes moveBackwardWithTabbar {
	to {
		bottom: calc(-1 * var(--tabbar_height));
	}
	,
	50% {
		bottom: calc(var(--tabbar_height) / 2);
	}

	from {
		bottom: calc(var(--tabbar_height) + 5px);
	}
}

@keyframes moveForward {
	from {
		bottom: calc(-1 * var(--tabbar_height));
	}
	,
	50% {
		bottom: 0;
	}

	to {
		bottom: 5px;
	}
}

@keyframes moveBackward {
	to {
		bottom: calc(-1 * var(--tabbar_height));
	}
	,
	50% {
		bottom: 0;
	}

	from {
		bottom: 5px;
	}
}

@keyframes moveForwardFromHeaderIOS {
	from {
		top: calc(-1 * var(--panelheader_height_ios));
	}
	,
	50% {
		top: 0;
	}

	to {
		top: calc(var(--panelheader_height_ios) + 5px);
	}
}

@keyframes moveBackwardFromHeaderIOS {
	to {
		top: calc(-1 * var(--panelheader_height_ios));
	}
	,
	50% {
		top: 0;
	}

	from {
		top: calc(var(--panelheader_height_ios) + 5px);
	}
}

@keyframes moveForwardFromHeader {
	from {
		top: calc(-1 * var(--panelheader_height_android));
	}
	,
	50% {
		top: 0;
	}

	to {
		top: calc(var(--panelheader_height_android) + 5px);
	}
}

@keyframes moveBackwardFromHeader {
	to {
		top: calc(-1 * var(--panelheader_height_android));
	}
	,
	50% {
		top: 0;
	}

	from {
		top: calc(var(--panelheader_height_android) + 5px);
	}
}

@keyframes moveForwardWithTabbarFromHeaderIOS {
	from {
		top: calc(-1 * var(--panelheader_height_ios));
	}
	,
	50% {
		top: 0;
	}

	to {
		top: calc(calc(var(--panelheader_height_ios) + var(--tabbar_height)) + 5px);
	}
}

@keyframes moveBackwardWithTabbarFromHeaderIOS {
	to {
		top: calc(-1 * var(--panelheader_height_ios));
	}
	,
	50% {
		top: 0;
	}

	from {
		top: calc(calc(var(--panelheader_height_ios) + var(--tabbar_height)) + 5px);
	}
}

@keyframes moveForwardWithTabbarFromHeader {
	from {
		top: calc(-1 * var(--panelheader_height_android));
	}
	,
	50% {
		top: 0;
	}

	to {
		top: calc(calc(var(--panelheader_height_android) + var(--tabbar_height)) + 5px);
	}
}

@keyframes moveBackwardWithTabbarFromHeader {
	to {
		top: calc(-1 * var(--panelheader_height_android));
	}
	,
	50% {
		top: 0;
	}

	from {
		top: calc(calc(var(--panelheader_height_android) + var(--tabbar_height)) + 5px);
	}
}
